@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Gochi+Hand&family=Jersey+10&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blood-pressure-form {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  background-color: #f0f1ee;
  margin: 0;
}

.div-container {
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 3rem 3rem;
  background-color: #b3bff4;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container div {
  padding: 0.5rem 0;
}
.info-container h3 {
  padding: 0.7rem 0;
}

.container-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  margin: 3rem 4rem 0 4rem;
  border-radius: 10px;
  background-color: white;
}
.container-form input {
  height: 2.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
}

.container-form button {
  height: 2.5rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  border: 1px solid black;
  color: white;
}

.container-form button:hover {
  height: 2.5rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  border: 1px solid black;
  color: white;
  -webkit-box-shadow: 10px 7px 31px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 7px 31px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 7px 31px 0px rgba(0, 0, 0, 0.75);
}

.info-box h3 {
  font-size: 1rem;
  color: black;
}
.info-box p {
  font-size: 0.8rem;
  /* font-weight: bold; */
  color: black;
}
